@import "tailwindcss";

@theme {
  --color-60B: rgb(28, 28, 28);
  --color-60W: rgb(255, 255, 255);
  --color-30B: rgb(110, 110, 110);
  --color-30W: rgb(148, 148, 148);
  --color-10B: rgb(0, 0, 0);
  --color-10W: rgb(229, 229, 229);
  --color-10F: rgb(214, 211, 209);
  --font-sans: Poppins;
  --font-serif: Poppins;
  /* --text-tiny: 0.675rem;  
  --text-xs: 0.775rem;  
  --text-base: 0.9rem;  
  --text-4xl: 2.325rem;   */
}

:root {
  font-family: Inter;
  line-height: 1.35;
  font-weight: 100 900;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: url('/wave.png');
  background-size: 1000px 100px;
}

.wave.wave1 {
  animation: animate 50s linear infinite;
}
.wave.wave2 {
  animation: animate2 50s linear infinite;
  animation-delay: -20s;
}
.wave.wave3 {
  animation: animate 50s linear infinite;
  animation-delay: -10s;
}
.wave.wave4 {
  animation: animate2 50s linear infinite;
  animation-delay: -5s;
}

@keyframes animate {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 1000px;
  }
}
@keyframes animate2 {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: -1000px;
  }
}
